<% include header %>

<table border="0" align="center">
	<tr>
		<td align="center">
			<h2>Create an Event </h2>
			<hr>
		</td>		
	</tr>
	<tr>
		<td>
			<form method="post">
			  <table>
				<tr>
					<td>Event Name: </td>
					<td><input type="text" name="eventname"></td>
				</tr>
				<tr>
					<td> Date: </td>
					<td><input type="Date" name="eventdate"></td>
				</tr>
				<tr>
					<td> Venue: </td>
					<td><input type="text" name="venue"></td>
				</tr>
				<tr>
					<td>EVENT DETAILS</td>
					<td><textarea name="eventdetails" cols="50" rows="7"></textarea></td>
				</tr>
				<tr>
					<td colspan="2">
						<br/>
						<center>
						<a href="/events">Back</a>
						<input type="submit" value="Event Publish">
						</center>
					</td>
				</tr>
			</table>
			</form>
		</td>
	</tr>
</table>

