<% include header %>
<table align="center">
		<tr>
			<td width="100"></td>
			<td>
				<br/>
				<center>
					 <h1>Admin Home</h1>
					 <p>Welcome <strong><%=username%>
					  </strong></p>
					 <!--  <p>Your last login was on {{ Session()->get('userLastLogin') }}
					   PM</p> -->
				</center>
			</td>
			<td width="100"></td>
		</tr>
</table>
