<% include header %>
<table align="center">
		<tr>
			<td width="100"></td>
			<td>
				<br/>
				<center>
					 <h3>Admin Home</h3>
					 <p>Welcome <strong><!-- {{ Session()->get('userFullName') }} -->
					  </strong></p>
					  <p>Your last login was on <!-- {{ Session()->get('userLastLogin') }} -->
					   PM</p>
				</center>
			</td>
			<td width="100"></td>
		</tr>
</table>
