<% include header %>
<table align="center">
	<tr>
		<td align="center">
			<h2>Change Password</h2>
			<hr>
		</td>
	</tr>
		<tr>
		<td align="center">
			<% if(messages.info)
			 	{ %> <p style="color:green;"> <%= messages.info %> </p> <%} 
	 		%>
		</td>
	</tr>
	<tr>
		<td>
			<form method="post" >
			<table>
				<tr>
					<td>OLD PASSWORD: </td>
					<td><input type="password" name="oldPassword"></td>
				</tr>
				<tr>
					<td>NEW PASSWORD: </td>
					<td><input type="password" name="newPassword"></td>
				</tr>
				<tr>
					<td>RE-TYPE PASSWORD: </td>
					<td><input type="password" name="retypePassword"></td>
				</tr>
				<tr>
					<td colspan="2">
						<br/>
						<center>
							<a href="/home">Back</a> | 
							<input type="submit" value="Update Password">
						</center>
					</td>
				</tr>
			</table>
		</form>
		</td>
	</tr>
</table>
