<!DOCTYPE html>
<html>
<head>
	<title>AIUB SOMOY CLUB</title>
</head>
<body>
	<table border="0" width="100%">
		<tr>
			<td width="100"></td>
			<td align="center">
				<h1>AIUB SOMOY CLUB</h1>
				<h4>an Volunteer Organization</h4>
			</td>
			<td width="100"></td>
		</tr>
		<tr>
			<td width="100"></td>
			<td align="center">
				<hr/>
			</td>
			<td width="100"></td>
		</tr>
		<tr>
			<td width="100"></td>
			<td align="center">
				<a href='/userHome'>Home</a> |
				<a href='/userHome/profile'>Profile</a> |
				<a href="#">Events</a> |
				<a href="#">Settings</a> |
				<a href="#">Contact</a> |
				<a href="/Logout">Logout</a>
			</td>
			<td width="100"></td>
			</tr>
		</table>
	</body>
</html>
